h1 {
	font-size: 3em;
	margin-top: 0.5em;
}

/* In small portrait  orientation
 * pie image ( banner )  and logo
 * don't resize correctly showing
 * gray body background.
 */
.banner {
	max-width: 100%;
}

.logo {
	max-width: 100%;
}

