/* in a desktop layout we don't want that input and label inside article tag 
 * take all parent's wiwth
*/
@media only screen and (min-width: 768px) {
    article {
        width: 350px;
    }
}

.input-group {
    margin: 20px;
}

.input-group input,
.input-group textarea,
.input-group select {
    padding: 10px;
    border: solid 1px #999;
    border-radius: 3px;
    width: 100%;
}

.label {
    font-weight: 600; /* bold */
}

/* attribute selector */
input[type=reset] {
    background: transparent;
    border: 0;
    text-decoration: underline;
    cursor: pointer; /* like a pointer */
}

input[type="submit"] {
    border: solid 1px #999;
    border-radius: 3px;
    padding: 10px; /* use the same padding of other input-group items */
}


.pie {
	width: 100%;
}
