/*
 * Let's use * (star selector) in order to reset
 * default css rules set by chrome
 */

* {
  margin: 0;
}

/*
 * I want body tag takes 100% of the page
 * doing something like that:
 * body { height: 100%; }
 * doesn't work because inheritances from
 * its parent (body tag) so we need to set
 * body too and then body will inheritance
 * from its parent viewport that has 100%
 */
html,
body {
  height: 100%;
}

/* I will apply a background image for my
 * body   but at the bottom of the page I
 * will   add a footer so setting bg body
 * color  I am implicitly setting footer
 * color
 */
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #999; /* light gray */
}

p {
  margin: 0.5em 0 0.5em 0;
}

header {
  /* display: block; */
  position: fixed; /* fixed on top when page is scrolling down */
  /*
  top: 0;
  left: 0;
  */
  width: 100%;
  background-color: #a493c0;
  padding: 10px;
}

/* 
 * The :visited selector is used to select visited links
 * The :link selector is used to select  unvisited links
 */
nav a:visited,
nav a:link {
  color: #fff; /* white */
  text-decoration: none; /* remove underscores */
}

nav ul li {
  display: inline; /* show li items orizontally and remove bullet points */
  margin: 0 5px 0 5px;
}

main {
  background-image: url("images/background.png");
  /* we don't want header and footer bars
   * overlap main-content area, let's add
   * some padding
   */
  padding-top: 3em;
  padding-bottom: 3em;
  /* We need to set min-height for main-content
   * because of in pages with no content or less
   * footer will gain spaces left by main-content
   */
  min-height: 85%;
}

footer {
  padding: 15px;
}

aside,
article {
  padding: 2em;
}

aside {
  text-align: center;
}

article {
  width: 75%;
}

/* class columuns is a div containing
 * name and price of a single pie, we
 * want this two tags in the same row
 * but in separate columuns.Let's use
 * display: flex for that.*/
.columns {
	display: flex;
}

/* this media query will be applied only
 * for screen with width 768 or wider
 */
@media only screen and (min-width: 768px) {
  main {
    display: flex;
  }
  
  aside {
    padding-left: 2%;
  }

  /* In a desktop layout wa wanna our pies stacked
   * together in columns while for a mobile layout
   * we want those stacked one on top of another.
   */
   .columns-desktop {
	display: flex;
   }
}
